<span>Diet</span>

<form novalidate  (ngSubmit)="onSubmit()">
	

    <p>
      <mat-form-field [style.width.px]="142">
        <input matInput class="form-control" placeholder="foodname" type="text" [(ngModel)]="user.foodname" name="foodname">
      </mat-form-field>
      <mat-form-field  [style.width.px]="70">
        <input matInput class="form-control" placeholder="amount" type="number" [(ngModel)]="user.kg" name="kg">
      </mat-form-field>Kg
      <br>
      <mat-checkbox   [(ngModel)]="user.weekly" name="Weekly"></mat-checkbox> Weekly
        <mat-checkbox  [(ngModel)]="user.monthly" name="monthly"></mat-checkbox> Monthly
        
    </p>
    <p *ngIf="user.weekly">
      <button class="button1 button5" disabled>S</button><button disabled class="button1 button5">M</button><button disabled class="button1 button5">T</button><button disabled class="button1 button5">W</button><button disabled class="button1 button5">T</button><button disabled class="button1 button5">F</button><button disabled class="button1 button5">S</button>
  </p>
  <p *ngIf="user.monthly">
      
      <mat-form-field>
         <mat-datepicker-toggle  matprefix [for]="picker"></mat-datepicker-toggle>Till Date   
         <mat-datepicker #picker></mat-datepicker>
         <input class="form-control"  matInput [(ngModel)]="user.tilldate" [matDatepicker]="picker" name="tilldate" [(ngModel)]="pick" >
        </mat-form-field>
    
      </p>
	  <p *ngIf="pick">
      
      <mat-form-field>
         <mat-datepicker-toggle  matprefix [for]="picker1"></mat-datepicker-toggle>Pick up Date   
         <mat-datepicker #picker1></mat-datepicker>
         <input class="form-control"  matInput [(ngModel)]="user.pickupdate" [matDatepicker]="picker1" name="tilldate">
        </mat-form-field>
    
      </p>

  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <img class="img2"  (click)="openfood()" mat-dialog-update src="/assets/Shape Copy 3.svg">Delete
    <button  class="button2" mat-button mat-dialog-close type="submit" (click)="onSubmit()"><i> Done</i></button>
    <img class="img1" (click)="openfood()" src="/assets/Group 10 Copy.png">
   </mat-dialog-actions>
</form >
<mat-dialog-actions mat-dialog-close>
    
   </mat-dialog-actions>